@import "tailwindcss";

/* NProgress Özelleştirme */
#nprogress .bar {
  background: #FF4D00 !important;
  height: 3px !important;
  z-index: 9999 !important;
  /* HER ŞEYİN ÜSTÜNDE OLSUN! */
}

/* Çubuğun ucundaki parlama efekti */
#nprogress .peg {
  box-shadow: 0 0 10px #FF4D00, 0 0 5px #FF4D00 !important;
}

#nprogress .spinner {
  z-index: 9999 !important;
}